NEXT_PUBLIC_SUPABASE_URL=https://sswnxlbtrgjhyggguwmv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzd254bGJ0cmdqaHlnZ2d1d212Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MDc2MzQsImV4cCI6MjA5NTM4MzYzNH0.n-WHdYuLqsGeFU5NTgKP1a3dbI_66x2fA13WRsH9IQE
